.title {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 118%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  word-break: normal;
}

@media (max-width: 505px) {
  .title {
    font-size: 30px;
    word-wrap: break-word;
  }

  .info {
    font-size: 16px;
  }
}
