.header__top {
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-right: 20px;
}

.header__callback {
  padding: 10px 20px;
  background: rgba(45, 166, 221, 20%);
  color: inherit;
  border-radius: 999px;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #000000;
}

.header__phone-container {
  display: flex;
  align-items: center;
}

.phone-img {
  margin-right: 12px;
}

.header__phone {
  color: inherit;
  font-weight: 700;
  font-size: 22px;
}

.header__bottom {
  padding: 7px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.menu {
  flex-grow: 1;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.menu__item:last-child {
  padding-right: 24px;
}

.menu__link {
  color: inherit;
  font-weight: 600;
}

.calculate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #254152;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 30px;
  background-color: #bcd249;
}

.calculate-btn img {
  width: 26px;
  height: 26px;
  margin-right: 4px;
}

.menu__mobile {
  display: none;
}

.menu__mobile-inner {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  height: 10px;
  width: 20px;
}

@media (max-width: 1120px) {
  .menu__mobile {
    display: block;
    border-radius: 50%;
    background-color: #2da6dd;
    min-width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__bottom {
    display: none;
  }
}

@media (max-width: 900px) {
  .header__callback{
    display: none;
  }
}
@media (max-width: 670px) {
  .header__phone-container{
    display: none;
  }
}

