.gallary__container {
  padding: 120px 24px 140px;
}
.page__gallary {
}
.gallary {
}
.gallary__header {
  margin-bottom: 82px;
}
.gallary__title {
}
.title {
}
.gallary__text {
}
.text {
}
.gallary__body {
}
.gallary__slider {
    margin-bottom: 20px;
}
.gallary__slider__item img {
    height: auto;
    width: 100%;
}
.gallary__slider__nav .gallary__slider__item {
  padding: 0px 10px;
}
.gallary__slider__nav img {
    width: 100%;
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */

.slick-track {
  display: flex;
}
.gallary__slider .slick-track {
}
.gallary__slider__nav .slick-track {
  height: 100px;
  justify-content: start;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
.gallary__slider {
  position: relative;
}
.gallary__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
}
.gallary__slider .slick-arrow.slick-prev {
  left: 20px;
  background: url("../img/gallary/left.svg") 0 0 /100% no-repeat;
}
.gallary__slider .slick-arrow.slick-next {
  right: 20px;
  background: url("../img/gallary/right.svg") 0 0 /100% no-repeat;
}
