.pricelist {
  background: #e7f2f9;
}
.pricelist__container {
  padding: 100px 24px;
}
.pricelist__header {
  max-width: 960px;
  margin: 0px 0px 90px 0px;
}
.pricelist__title {
  padding: 0px 0px 20px 0px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}

.pricelist__body {
  display: flex;
  flex-wrap: wrap;
}
.pricelist__column {
  flex: 1 1 33.333%;
display: flex;
justify-content: center;}
.pricelist__item {

}
.pricelist__image {
display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.pricelist__disc {
  height: 55px;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 2%;
  font-weight: 600;
  margin-bottom: 51px;
  text-align: center;
}
.pricelist__price {
  margin-bottom: 192px;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 2%;
  color: #2da6dd;
  text-align: center;
}
.pricelist__work {
  margin-bottom: 40px;
}

.pricelist__work__item {
  padding-right: 20px;

  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 120%;
  padding-left: 20px;
  background: url("../img/pricelist/circleblue.png") left top no-repeat;
}
.pricelist__work__item:not(last-child) {
  margin-bottom: 20px;
}

.pricelist__column:first-child::before {
  content: 'Что входит в стоимость штукатурных работ?';
  font-size: 28px;
  font-weight: bold;
  width: 800px;
  height: auto;
  position: absolute;
  top: 60%;
  left: 200px;
}

@media (max-width:992px) {
  .pricelist__column:first-child::before {
    content: ''
  }
  .pricelist__column {
    flex: 1 1 100%;
  }
  .pricelist__work {
    margin-bottom: 40px;
  }
  .pricelist__item{
    width: 474px;
  }
}
