.materials {
  background: #ffffff;
}
.meterials__container {
  padding: 140px 24px 222px;
}
.container {
}
.materials__header {
  margin-bottom: 82px;
}

.materials__text {
  max-width: 560px;
}

.materials__body .slick-track{
  padding: 10px 0px;
}
.materials__column {
  flex: 1 1 25%;
  padding: 0px 20px;
}
.materials__item {
  box-shadow: rgb(37, 65, 82, 20%) 0px 0px 15px;
  border-radius: 10px;
  padding: 40px 20px;
}
.material__icon {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.material__icon img {
  max-width: 100%;
}
.material__type {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 2%;
}
.material__desc {
  margin-bottom: 62px;
}

.materials__body {
  position: relative;
}
.materials__body .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
}
.materials__body .slick-arrow.slick-prev {
  left: 20px;
  background: url("../img/gallary/left.svg") 0 0 /100% no-repeat;
}
.materials__body .slick-arrow.slick-next {
  right: 20px;
  background: url("../img/gallary/right.svg") 0 0 /100% no-repeat;
}

.materials__body .slick-dots {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.materials__body .slick-dots li {
  list-style: none;
}
/* Активная точка */
.materials__body .slick-dots li.slick-active button {
  background-color: #2DA6DD;
  color: #fff;
}
/* Элемент точки */
.materials__body .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #E7F2F9;
  border-radius: 999px;
  margin-right: 10px;
}
