.advantages {
    background-color: #E7F2F9;
}

.advantages__container {
    padding: 100px 20px;
}
.advatages__header {
    max-width: 960px;
    margin: 0px 0px 80px 0px;
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -20px;
}
.advantages__column {
    flex: 1 1 25%;
    padding: 0px 20px;
}
.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.advantages__icon {
    width: 76px;
    height: 76px;
    padding: 20px;
    border-radius: 20px;
    background-color: #254152;
    margin-bottom: 40px;
}

.advantages__icon img {
    width: 100%;
    height: 100%;
}
.advantages__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .advantages__column {
        flex: 1 1 50%;
        margin: 0px 0px 40px 0px;
    }
}
@media (max-width: 570px) {
    .advantages__column {
        flex: 1 1 100%;
        margin: 0px 0px 40px 0px;
    }
}