.articles {
  background-color: fff;
}
.articles__container {
  padding: 140px;
}
.articles__header {
  margin-bottom: 80px;
}

.articles__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -20px;
}
.articles__column {
  width: 360px;
  border-radius: 20px;
  background-color: #e7f2f9;
  margin: 0px 20px;
}
.articles__item {
    padding: 40px;
}
.article__img {
  height: auto;
  width: 100%;

}
.article__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.article__text {
  margin-bottom: 28px;
}
.text {
}
.article__link {
}
.more-btn {
}
