.instagram {
  background-color: #e7f2f9;
}
.instagram__container {
  padding: 100px 24px;
}
.instagram__header {
  margin-bottom: 87px;
}
.instagram__title {
}

.instagram__img {
  background: url("../img/instagram/inst.jpg") center no-repeat;
  width: 100%;
  height: 414px;
}
