.page__info {
}
.page__info__container {
    padding: 40px 0px 0px;
}
.container {
}
.page__info__header {
    margin-bottom: 40px;
}
.page__info__title {
}
.title {
}
.page__info__text {
    max-width: 516px;
}
.text {
}
.page__info__body {
}
.specification__container {
    background-color: #E7F2F9;

}
.specification__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
.specification__column:first-child {
    margin-right: 40px;
}
.specification__img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.specification__img img{
    width: 100%;
    height: auto;
}
.specification__title {
    font-weight: 600;font-size: 24px;
    margin-bottom: 18px;
}
.specification__text {
}
.station__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;

}
.station__column:first-child {
    margin-right: 40px;
}
.station__img {
    display: flex;
    justify-content: center;
    align-items: center;

}
.station__title {
    font-weight: 600;font-size: 24px;
    margin-bottom: 18px;
}
.station__text {
}